<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>btn1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_ui_sd.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf9afa1126f24bbbe88dd716650dcae7:a1424d2790ec3549e070127bd995948f:6d56e46405901c343847b595e76abbd3$</string>
            <key>textureFileName</key>
            <string>sheet_ui_sd.png</string>
        </dict>
    </dict>
</plist>
