<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{58,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,23}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>enemy1_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{60,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,21}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>enemy1_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{62,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,21}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>enemy1_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,21}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>enemy1_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{62,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,21}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
            <key>enemy1_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,27},{60,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,21}}</string>
                <key>sourceSize</key>
                <string>{64,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_enemy1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9aef08c98430fbd4ad3232ec7f92a8f:1/1$</string>
            <key>textureFileName</key>
            <string>sheet_enemy1.png</string>
        </dict>
    </dict>
</plist>
