<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_bullet_tower_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,8},{48,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,84}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{48,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{48,64}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{48,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{48,64}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{48,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_stat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,102},{48,64}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{48,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_stat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,64}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{48,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_stat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,62}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,25},{48,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>base_bullet_tower_stat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,64}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{48,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>red_bullet_bom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{22,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{22,18}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>red_bullet_bom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>red_bullet_bom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,36},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>red_bullet_bom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>red_bullet_stat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,68},{13,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_red_tower2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a235a93a20b83311c633b2912e21f9e:1/1$</string>
            <key>textureFileName</key>
            <string>sheet_red_tower2.png</string>
        </dict>
    </dict>
</plist>
