<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,332},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>back_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,266},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blue_block_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,200},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>build1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>build2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,200},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>build3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>build4_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>count_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,262},{81,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{81,112}}</string>
                <key>sourceSize</key>
                <string>{97,112}</string>
            </dict>
            <key>count_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{95,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{97,112}</string>
            </dict>
            <key>count_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{95,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{97,112}</string>
            </dict>
            <key>goon_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>goon_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,433},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,357},{64,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,8}}</string>
                <key>sourceSize</key>
                <string>{64,8}</string>
            </dict>
            <key>level_icon_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>level_icon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>level_icon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,376},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>level_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,206},{28,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,49}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{20,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,47}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,206},{32,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,323},{30,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,47}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,478},{32,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,478},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,323},{28,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,47}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,206},{30,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,49}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,206},{28,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,49}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>level_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,323},{28,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,47}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>magic_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,367},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pause_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,438},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pause_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,372},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>red_block_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sell_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,438},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{64,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>speedup_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,255},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>speedup_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,372},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,321},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>start_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>start_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>state_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,357},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,357},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,494},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,490},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,477},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,477},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,490},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,490},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,490},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,490},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>state_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,438},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>upgrade_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,257},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f1bd8905d17c269f0d26659cd0d3ac:1/1$</string>
            <key>textureFileName</key>
            <string>sheet_ui.png</string>
        </dict>
    </dict>
</plist>
